<div *ngIf="!finalResult">
  <div *ngIf="!username">
    <div>Hello, Stranger. Let's play a little. Give me your name:</div>
    <div>
      <input type="text" [value]="username" (change)="setUsername($event)" />
    </div>
  </div>
  <div *ngIf="username">
    <div>
      Howdy, {{ username }}. Press the big one below to start.
    </div>
    <div>
      <button *ngIf="!gameInProgress" (click)="startGame()">START</button>
      <button *ngIf="gameInProgress" (click)="incrementClicks()">CLICK!</button>
    </div>
    <div *ngIf="gameInProgress">
      Time left: {{ timer }}
    </div>
    <div *ngIf="gameInProgress">
      Clicked times: {{ clicks }}
    </div>
    <div *ngIf="!gameInProgress">
      <select [value]="timer" (change)="setTimer($event)">
        <option 
          *ngFor="let timeOption of timerOptions" 
          value="{{ timeOption }}">
          {{ timeOption }}
        </option>
      </select>
    </div>
  </div>
</div>

<app-result 
  *ngIf="finalResult" 
  [username]="username" 
  [result]="finalResult" 
  (voidResult)="resetResult()">
</app-result>

<router-outlet></router-outlet>